:root {
  // colors------------------
  --background-color: #f9f9f9;
  --main-color: #0167f3;
  --white-color: #ffffff;
  --dark-color: #081828;


}

@font-face {
  font-family: manrope;
  src: url(../../fonts/Manrope-VariableFont_wght.ttf);
}