* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: manrope;
  background-color: var(--background-color);
  overflow-x: hidden;

}

html {
  scroll-behavior: smooth;
}

.container {
  width: 85%;
  margin: 0 auto;

  @include breakPoints(mobile) {
    width: 100%;
    padding: 0 .5em;
  }

  @include breakPoints(small) {
    width: 95%;
    padding: 0 1em;
  }
}

ul {
  li {
    list-style: none;

  }
}

a {
  text-decoration: none;
  border: none;
  outline: none;
}

button,
input {
  border: none;
  outline: none;
}

// register page --------------
.register,
.sign-in {
  background-color: var(--background-color);
  border-left: 3px solid var(--main-color);
  position: absolute;
  top: 4em;
  right: 2em;
  z-index: 11;
  display: none;
  flex-direction: column;
  box-shadow: 1px 1px 20px #c1c1c1;
  padding: 2em 2.5em;

  @include breakPoints(mobile) {
    top: 7em;
    right: 1em;
  }

  img {
    width: 1.5em;
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
  }

  h1 {
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 1em;
  }


  form {
    display: flex;
    flex-direction: column;


    input {
      background-color: var(--white-color);
      margin-bottom: 0.5em;
      padding: 0.3em 0.5em;
      color: var(--dark-color);
      border-radius: 5px;
    }

    .terms {
      display: flex;
      align-items: center;
      background-color: var(--background-color);
      margin: 1.5em 0;

      >input {
        margin: 0 1em 0 0;
        padding: 0;

      }

      p {
        font-size: 0.8em;
      }
    }

    .submit-btn {
      background-color: var(--dark-color);
      color: var(--white-color);
      font-size: 1em;
      text-transform: uppercase;
      margin-bottom: 1em;
      cursor: pointer;

      &:hover {
        color: var(--main-color);
        background-color: var(--white-color);
        outline: 1px solid var(--main-color);
      }
    }
  }

  p {
    font-size: 1em;

    a {
      color: var(--main-color);
    }
  }

  h4 {
    text-align: center;
    color: gray;
    font-weight: 400;
  }
}

.addedS-output {
  width: 100%;
  height: 100vh;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  cursor: default;

  .container-small {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-color);
    padding: 1.5em 2em;
    color: var(--white-color);

    @include breakPoints(mobile) {
      padding: 0.5em 1em;
    }

    h1 {
      font-size: 1em;
      text-transform: capitalize;

      @include breakPoints(mobile) {
        font-weight: 500;
      }
    }

  }

}

.cart-win {
  width: 80%;
  height: 80vh;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: var(--white-color);
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.586);
  z-index: 50;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
  border-radius: 15px;
  padding: 3em 1em;
  overflow: scroll;

  @include breakPoints(mobile) {
    grid-template-columns: repeat(1, 1fr);
    width: 90%
  }

  @include breakPoints(small) {
    grid-template-columns: repeat(2, 1fr);
    width: 90%
  }

  .cart-cles-butn {
    width: 1.5em;
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
  }

  .product-added {
    display: flex;
    align-items: center;
    height: max-content;
    position: relative;
    background-color: #eaeaea;
    border-radius: 10px;
    // width: calc(100% /4);

    &:hover {
      background-color: var(--dark-color);
      color: var(--white-color);
      cursor: pointer;
    }

    .pord-cancel {
      position: absolute;
      width: 2em;
      right: 0.5em;
      top: 1em;
      cursor: pointer;

    }

    img {
      padding: 0.5em;
      width: 7em;
    }
  }
}